# ambiente virtual
.venv/

# cache python
__pycache__/
*.pyc

# notebooks temporários
.ipynb_checkpoints/

# dados brutos
data/raw/*.csv

# dados processados
data/processed/*.csv

# variáveis de ambiente
.env